[submodule "practical_1"]
	path = practical_1
	url = https://github.com/satvikpathak/practical1-CV-.git
[submodule "practical_2"]
	path = practical_2
	url = https://github.com/satvikpathak/practical2.git
