[submodule "practical_1"]
	path = practical_1
	url = https://github.com/satvikpathak/practical1-CV-.git
[submodule "practical_2"]
	path = practical_2
	url = https://github.com/satvikpathak/practical2.git
[submodule "practical_3a"]
	path = practical_3a
	url = https://github.com/satvikpathak/practical3-a.git
[submodule "practical_3b"]
	path = practical_3b
	url = https://github.com/satvikpathak/practical3-b.git
[submodule "practical_4a"]
	path = practical_4a
	url = https://github.com/satvikpathak/practical4a.git
